<div style = "display: flex">
  <div class = "container">
    <div *ngFor = "let fo of food">
      <button class = "btn_addFood" (click) = "addFood(fo)">{{fo}}</button>
    </div>
  </div>

  <div class = "container2">
    <div class = "container3">
      <p class = "text"> 已选择的食材为：</p>

      <div class = "text2" *ngFor = "let sFo of selectedFood">
        <span> {{sFo}} </span>
      </div>
    </div>
    <div class = "container3">
      <button class = "btn_check" (click) = "showRecipes()">查看菜谱</button>
      <br>
      <div *ngIf="canCook">
        <div class = "text2" *ngFor = "let me of meals">
          <span> {{me}}</span>
          <p></p>
        </div>
      </div>

      <div *ngIf="!canCook">
        <div class = "text2">没有菜谱</div>
      </div>
    </div>
  </div>


</div>
